@import "global/main";
@import "global/reset";
@import "global/common";

// overview
.overview{ padding:rem(25px) rem(60px) rem(50px); position:relative;
  .title-box{margin:rem(20px) 0; position:relative;
    h2{ font-size:1.3rem;}
    .jump{
      @include wh(30px); background:url('../images/common/arrow_right.png'); display:inline-block; background-size:100% 100%;
      position:absolute; top:0; right:0;
      a{display:block;}
    }
  }
  .content-box{
    p{line-height:1.5;}
    img{@include wh(185px,130px); float:right; margin-left:rem(10px);}
  }
}

#intro{
  background:#fab000; color:#fff;
}

#festival{
  background:#fff; color:$tag;
  .jump{background:url('../images/common/arrow_white.png'); background-size:100% 100%;}
}

#description{
  background:#79b022; color:#fff;
}

// guide
.body-guide{ background-color:#2a292a;
  .title{ background:#01a38c; position:relative; @include hl(130px);
    .intro-left{ float:left; position:relative; padding:rem(20px) rem(55px);}
    .disc{ text-align:center; @include hl(130px); font-size:1.4rem; position:absolute; width:100%; color:#fff;}
  }
  .help-view{ margin-top:rem(10px);
    .img{@include wh(200px,360px); margin-right:rem(10px); float:left;
      img{ width:100%;}
    }
    .box{ margin-left:rem(210px);
      .intro-right{ float:right; position:relative; padding:rem(12px) rem(55px);}
      .intro-box:last-child{margin-bottom:0;}
    }
    .view{ background-color:#73b929;
      .intro-right{ width:rem(165px);}
    }
    .trans{ background-color:#00aaf0;
      .intro-right{ width:rem(165px);}
    }
    .home{ background-color:#e44c97;
      .intro-right{ width:rem(165px);}
    }
  }
  .help-enjoy{ margin-top:rem(10px);
    .img{@include wh(275px,360px); margin-left:rem(10px); float:right;
      img{ width:100%;}
    }
    .box{ margin-right:rem(275px);
      .intro-left{ float:left; position:relative; padding:rem(12px) rem(55px);}
      .intro-box:last-child{margin-bottom:0;}
    }
    .food{ background-color:#ee730c;
      .intro-right{ width:rem(160px);}
    }
    .shopping{ background-color:#e32d58;
      .intro-right{ width:rem(160px);}
    }
    .enjoy{ background-color:#7f5ba5;
      .intro-right{ width:rem(160px);}
    }
  }
  .help-tips{ margin-top:rem(10px);
    .img{@include wh(195px,240px); margin-right:rem(10px); float:left;
      img{ width:100%;}
    }
    .box{ margin-left:rem(210px);
      .intro-right{ float:right; position:relative; padding:rem(12px) rem(55px);}
      .intro-box:last-child{margin-bottom:0;}
    }
    .trip{ background-color:#25ac92;
      .intro-right{ width:rem(165px);}
    }
    .tips{ background-color:#4ec0f4;
      .intro-right{ width:rem(165px);}
    }
  }
}


// trip
.body-trip{ padding-bottom:rem(20px);
  .title{ @include hl(80px); text-align:center; width:100%; color:#fff;
    &.go{ background-color:#8bc122;}
    &.traffic{background-color:#009deb; margin-top:rem(30px);}
  }
  .trip-box{ margin:rem(30px) rem(30px) 0;
    .span-box{ margin-bottom:.8%;
      .grey-box{background-color:#d6d7d8; width:49.5%; height:rem(120px); margin-right:1%; float:left; text-align:center; overflow:hidden;
        display: -webkit-flex; display: flex;
        -webkit-flex-direction: row; flex-direction: row;
        -webkit-align-items: center; align-items: center;
        -webkit-justify-content: center; justify-content: center;
        img{@include wh(180px,76px);}
        i{ position:absolute; z-index:2; @include wh(30px); border-radius:rem(15px); overflow:hidden; background-clip: padding-box; display:block; background-color:#fff;}
        &:last-child{margin-right:0; float:right;}
        &.long{
          img{@include wh(220px,76px);}
        }
        &.bg{ background-color:#e4e5e6;}
        &.rt{ position:relative;
          i{right:rem(-15px); top:rem(-15px);}
        }
        &.lt{ position:relative;
          i{left:rem(-15px); top:rem(-15px);}
        }
        &.rb{ position:relative;
          i{right:rem(-15px); bottom:rem(-15px);}
        }
        &.lb{ position:relative;
          i{left:rem(-15px); bottom:rem(-15px);}
        }
      }
      .bg-box{background-color:#e4e5e6; width:100%; height:rem(120px); text-align:center; overflow:hidden;@include valign;
        img{@include wh(180px,76px);}
      }
    }
  }
}

// ticket
.tab-box{
  ul{
    li{ float:left; width:50%; text-align:center; background-color:#979689; @include hl(80px);
      &.action{ background-color:#b69c70;}
    }
  }
}
.tab-content{ position:relative; margin:0 rem(50px); padding:rem(30px) 0;
  .content{ display:none;
    &:first-child{ display:block;}
  }
  #ticketBox{ padding:rem(20px) 0 0;
    h1{ font-size:1.4rem; padding-bottom:rem(10px); border-bottom:1px solid $border;}
    .son-box{ margin-top:rem(50px); border-bottom:1px solid $border;
      .h2{ padding:rem(10px) 0; vertical-align:bottom;
        h2{font-size:1.2rem; color:$tag; display:inline-block; padding-left:rem(10px);}
        i{ vertical-align:bottom;}
        .ticket-price{@include icon("../images/help/help_piaojia.png",50px,40px);}
        .open-time{@include icon("../images/help/help_time.png",40px);}
        .youhui{@include icon("../images/help/help_menpiao.png",40px);}
      }
      .cont{
        li{ padding:rem(16px) 0;
          span{float:right; color:$tag; vertical-align:bottom;
            i{ vertical-align:bottom;
              &.p{ font-family:$number; font-size:1.2rem; color:$red; font-weight:bold;}
              &.time{@include icon("../images/help/help_clock.png",22px); margin-right:rem(4px);}
            }
          }
        }
      }
      p{ line-height:1.5; margin-top:rem(30px); color:$tag;
        &:last-child{ padding-bottom:rem(20px);}
      }
    }
  }
  #enterBox{ margin:rem(30px) 0; position:relative;
    ul{
      li{ vertical-align:middle; float:left; width:50%;
        a{display:block; @include wh(240px,60px); color:$tag; font-size:1.1rem; border-bottom:1px solid $border; margin:0 auto; padding:rem(25px) 0;}
        i{vertical-align:middle; margin:0 rem(20px);
          &.help_yh{@include icon("../images/help/help_yh.png",60px);}
          &.help_qcz{@include icon("../images/help/help_qcz.png",60px);}
          &.help_jyz{@include icon("../images/help/help_jyz.png",60px);}
          &.help_tcc{@include icon("../images/help/help_tcc.png",60px);}
          &.help_yd{@include icon("../images/help/help_yd.png",60px);}
          &.help_wsj{@include icon("../images/help/help_wsj.png",60px);}
          &.help_yj{@include icon("../images/help/help_yj.png",60px);}
          &.help_zxd{@include icon("../images/help/help_zxd.png",60px);}
          &.help_zxg{@include icon("../images/help/help_zxg.png",60px);}
          &.help_kdgs{@include icon("../images/help/help_kdgs.png",60px);}
          &.help_qcxl{@include icon("../images/help/help_qcxl.png",60px);}
          &.help_bxgs{@include icon("../images/help/help_bxgs.png",60px);}
          &.help_cs{@include icon("../images/help/help_cs.png",60px);}
          &.help_tq{@include icon("../images/help/help_tq.png",60px);}
          &.help_yy{@include icon("../images/help/help_yy.png",60px);}
        }
      }
    }
    .line{width:1px; background:$border; overflow:hidden; position:absolute; z-index:1; left:50%; top:0; height:100%; margin-left:-1px;}
  }
}



// help_holiday_list
.help-holiday-list{ padding-bottom:rem(30px);}
.view-list-item{ margin:rem(24px) rem(24px) 0; border:1px solid $border; overflow:hidden;
  .img-box{ position: relative; width:rem(200px); height:rem(150px); float:left;
    img{ width:100%;}
    .disc{
      position:absolute; z-index:2; bottom:0; left:0; width:100%;
      @include hl(40px); text-align:center; background-color:rgba(100,160,10,.5); color:#fff;
    }
    .triangle{
      position:absolute; z-index:3; bottom:0; right:0;
      width: 0; height: 0; border-bottom: rem(25px) solid #fff;border-left: rem(25px) solid transparent;
    }
  }
  .disc-box{ margin-left:rem(220px);
    .p{ position:relative; margin-right:rem(20px); @include hl(37.5px);
      .left{position:absolute; z-index:2; top:0; left:0;}
      .right{position:absolute; z-index:2; top:0; right:0;}
      &.p-title{
        h2{ font-size:1.3rem; padding:rem(15px) 0; color:#db3787; font-weight:bold;}
        p{ white-space:nowrap;}
        .tag{display:inline-block;@include wh(44px,24px);background:url('../images/common/icon_youhui.png'); background-size:100% 100%;}
      }
      &.p-price{ color:$color;
        .score{}
        .price{ font-weight:bold;}
      }
      &.p-tag{
      }
      &.p-disc{color:$tag;
        .disc{}
        .address{}
      }
    }
  }
}


// help_holiday_list
.help-holiday-detail{ background-color:#f3f4f4;
  #focusImg{width:100%; 
    img{width:100%; display:block;}
  }
  .head{
    &.guide{
      h1{ background-color:#79b022;}
      h2{ color:#79b022; display:none;}
    }
    &.air{
      h1{ background-color:#4bbff4;}
    }
    h1{@include hl(70px); text-align:center; background-color:#e33e91; color:#fff; font-size:1.3rem;}
    h2{text-align:center; background-color:#fff; color:#e33e91; font-size:1.1rem; line-height:1.3; padding:rem(50px) 0;}
  }
  .desc{ padding:rem(40px) rem(40px);
    &.guide{
      p{ word-break:break-all;
        b{ font-weight:normal; color:$default;}
      }
    }
    &.air{ padding-top:0;
      h2{ color:$default; padding:rem(40px) 0 0;}
      p{ word-break:break-all; color:$tag; padding-top:0;  padding-bottom:rem(10px);}
    }
    h3{ font-size:1.2rem;}
    p{ padding-top:rem(15px); line-height:1.5; color:$tag;}
  }
}


// help_car_list
.help-car-list{ background-color:#f3f4f4;
  .help-car{ background-color:#fff; padding:rem(30px) 0;
    .list{
      border-bottom:1px solid $border; padding:rem(30px) 0; margin:0 rem(40px); color:$tag;
      background:url('../images/common/icon_r.png') no-repeat right center; background-size:rem(18px) rem(30px);
      span{ float:right; margin-right:rem(40px);}
      &:last-child{ border-bottom:0;}
    }
  }
}


// help-car-detail
.help-car-detail{  background-color:#f3f4f4;
  .car-detail{ background-color:#fff; padding:rem(30px) rem(40px);
    h1{ @include hl(60px); border-bottom:1px solid $border; font-weight:bold; font-size:1.2rem;}
    ul{
      padding:rem(20px) 0;
      li{ color:$tag; @include hl(45px);
        span{ color:$default;}
      }
    }
  }
}










@media all and (min-width:640px) {
  html { font-size: $base_fontsize_640; }
}
@media all and (max-width:639px) and (min-width:480px) {
  html { font-size: $base_fontsize_480; }
}
@media all and (max-width:479px) {
  html { font-size: $base_fontsize_320; }
}