@import "global/main";
@import "global/reset";
@import "global/common";

// list
.view-list-item{ margin:rem(24px) rem(24px) 0; border:1px solid $border; overflow:hidden;
  .img-box{ position: relative; width:rem(200px); height:rem(150px); float:left;
    img{ width:100%;}
    .disc{
      position:absolute; z-index:2; bottom:0; left:0; width:100%;
      @include hl(40px); text-align:center; background-color:rgba(100,160,10,.5); color:#fff;
    }
    .triangle{
      position:absolute; z-index:3; bottom:0; right:0;
      width: 0; height: 0; border-bottom: rem(25px) solid #fff;border-left: rem(25px) solid transparent;
    }
  }
  .disc-box{ margin-left:rem(220px);
    .p{ position:relative; margin-right:rem(20px); @include hl(37.5px);
      .left{position:absolute; z-index:2; top:0; left:0;}
      .right{position:absolute; z-index:2; top:0; right:0;}
      &.p-title{
        h2{ font-size:1.2rem;}
        .tag{display:inline-block;@include wh(44px,24px);background:url('../images/common/icon_youhui.png'); background-size:100% 100%;}
      }
      &.p-price{ color:$color;
        .score{}
        .price{ font-weight:bold;}
      }
      &.p-tag{
      }
      &.p-disc{color:$tag;
        .disc{}
        .address{}
      }
    }
  }
}


// detail
.overview{ padding:rem(15px) rem(50px); background-color:$bg;
  h1{ font-size:1.5rem; padding:rem(15px) 0;}
  .score{  padding:rem(15px) 0; border-bottom:1px solid $border;
    .color{ color:$color;font-family:$number; float:right;}
    .grey{ color:$tag; font-weight:bold; font-size:1.3rem; float: left;
      i{ color:$color;}
    }
  }
  .tag{color:$tag; padding:rem(15px) 0;
    span{ margin-right:rem(10px);}
  }
}

#viewContact{
  .view-icon{background:url('../images/common/icon_contact.png'); background-size:100% 100%;}
  .view-container{
    .name,.tel{ text-align:right; border-bottom:1px dotted $border; padding:rem(10px) 0; color:$title;
      span{ float:left; text-align:left;}
    }
    .tel{border-bottom:none;}
  }
}

#viewInfo{ position:relative;
  .view-icon{background:url('../images/common/icon_view.png'); background-size:100% 100%;}
  .view-container{ 
    .intro,.time{ line-height:1.5; color:$tag;
      span{ font-weight:bold; font-size:1.2rem;color:$title;}
    }
  }
  .play{ position:absolute; right:0; top:rem(20px);}
}


#online{ position:relative; 
  .view-container{border-bottom:1px solid $border; padding-bottom:rem(10px);}
  ul{
    li{@include hl(30px); color:$tag; padding-bottom:rem(2px);
      span{ margin-left:rem(20px); color:$color; font-weight:bold;}
    }
  }
  .pre-order{@include btn3(40px,#e12e8a); width:rem(94px); position:absolute; top:50%; margin-top:rem(-20px); right:0; z-index:2;}
  .online-order{@include btn3(20px,#4ec0f4);white-space:nowrap; padding:rem(4px) rem(10px); font-size:0.9rem;}
}



// enjoy-food-index
.body-food{background-color:#fff;}
.food-header{background-color:#e54016; color:#fff; font-size:1.3rem; @include hl(80px); padding-left:rem(20px);}

.head-overview{ background-color:#fff; margin: rem(20px); border:1px solid $border; position:relative;
  .img{@include wh(200px,140px); float:left;
    img{width:100%;}
  }
  .box{
    margin-left: rem(210px);
    .score{ @include hl(70px); border-bottom:1px solid $border;
      .right{ float:right; color:$tag; margin-right:rem(4px);
          i{}
      }
      .left{ color:$tag;
        i{}
      }
    }
    .detail{ white-space:nowrap; @include hl(70px);
      span{ margin-right:rem(5px); color:$tag;}
    }
  }
}


// feature
.feature-box{ padding:rem(20px) 0; background-color:$bg;
  .feature{
    background-color:#fff;
    .li{
      &:last-child{ border-bottom:none;}
      a.box{ color:$title;border-bottom:1px solid $border;
        display: block; margin:0 rem(30px); background:url('../images/common/icon_r.png') no-repeat right center; background-size:rem(18px) rem(30px);
        @include hl(70px); vertical-align:middle;
        span{@include hl(70px); display:inline-block;}
        i{ display:inline-block; vertical-align:middle;
          &.position{@include icon('../images/enjoy/food_position.png',34px,34px);}
          &.time{@include icon('../images/enjoy/food_time.png',34px,34px);}
          &.food{@include icon('../images/enjoy/food_view.png',34px,34px);}
          &.wifi{@include icon('../images/common/wifi.png',20px); margin-left:rem(10px);}
          &.pm{@include icon('../images/common/icon-pm.png',20px); margin-left:rem(10px);}
        }
      }
    }
    .img{ padding:rem(20px) 0; width:rem(640px); margin:0 auto;
      li{ float:left; @include wh(170px,120px); position:relative; margin-left:rem(32px);
        img{width:100%;}
        p{ position:absolute; bottom:0; left:0; width:100%; z-index:2; text-align:center; @include hl(40px); background-color:rgba(0,0,0,.5); color:#fff;}
      }
    }
  }
}
.food-desc{
  padding:rem(30px); line-height:1.6;
  p{ text-indent:1rem; color:$title; padding-bottom:rem(10px);
    &.last-child{ padding-bottom:0;}
  }
}
.food-prefer{ padding:rem(30px) rem(20px); background-color:$bg;
  h2{ line-height:2; padding-bottom:rem(6px); font-size:1.2rem;}
  .food{
    border-radius:rem(10px); background-clip:padding-box; overflow:hidden; background:#fff;
    a{
      display: block;margin: rem(20px); min-height:rem(50px); position:relative;
      .img{@include wh(160px,120px); border-radius:rem(8px); background-clip:padding-box; overflow:hidden; float:left;
        img{width:100%; height:100%;}
      }
      .desc{ margin-left:rem(180px);
        p{ font-size:1.2rem;}
      }
      .package{@include icon('../images/common/icon_promotion.png',44px,25px); position:absolute; right:0; top:0; z-index:2;}
    }
  }
}

// food-detail
.body-food-detail{ background-color:$bg;
  .food-msss{ font-size:1.2rem; color:#de3c00; margin:rem(30px) rem(30px) rem(10px);
    i{@include icon('../images/enjoy/food_detail.png',24px,22px);}
  }
  .food-detail-box{
    background-color:#fff; margin:0 rem(30px) rem(30px);
    ul{ padding:rem(20px) rem(20px);
      li{border-bottom:1px solid $border; padding:rem(16px) 0; white-space:nowrap; overflow:hidden;
        h2{@include hl(50px); font-size:1.2rem;}
        p{@include hl(25px); color:$tag;}
        &:last-child{border-bottom:none;}
      }
    }
  }
}

// food-package
.body-package{ background-color:$bg;
  .focus{
    img{ width:100%;}
  }
  .desc{ background-color:#fff; padding:rem(40px) rem(40px);
    h1{ font-size:1.3rem; padding-bottom:rem(20px);}
    p{ position:relative; @include hl(40px);
      .pre-order{
        position:absolute; right:0; background-color:$orange; padding:0 rem(26px); color:#fff; border-radius:rem(10px); background-clip:padding-box; overflow:hidden;
      }
      .promotion{
        i{ color:$red; font-size:1.2rem; margin-right:rem(30px); margin-left:rem(6px);}
      }
      .market{
        i{ text-decoration:line-through; font-size:1.2rem; margin-left:rem(6px); color:$tag;}
      }
    }
  }
  .item{ background-color:#fff; padding:rem(40px) rem(40px) rem(20px); margin-top:rem(20px);
    ul{
      li{ border-bottom:1px dotted $border; padding-top:rem(20px); line-height:2.5; color:$title; font-size:1.1rem;
        span{ float:right;}
        &:last-child{ border-bottom:none;}
      }
    }
  }
}

// food-album
.body-album{
  #albumFocusCtrol{ @include hl(80px); background-color:$orange; color:#fff; text-align:center; font-size:1.4rem; font-family:$number; font-weight:bold;}
  #focusBox{
    background-color:#000;
  }
}







@media all and (min-width:640px) {
  html { font-size: $base_fontsize_640; }
}
@media all and (max-width:639px) and (min-width:480px) {
  html { font-size: $base_fontsize_480; }
}
@media all and (max-width:479px) {
  html { font-size: $base_fontsize_320; }
}