@import "global/main";
@import "global/reset";
@import "global/common";

// list
.view-list-item{ margin:rem(24px) rem(24px) 0; border:1px solid $border; overflow:hidden;
  .img-box{ position: relative; width:rem(200px); height:rem(150px); float:left;
    img{ width:100%;}
    .disc{
      position:absolute; z-index:2; bottom:0; left:0; width:100%;
      @include hl(40px); text-align:center; background-color:rgba(100,160,10,.5); color:#fff;
    }
    .triangle{
      position:absolute; z-index:3; bottom:0; right:0;
      width: 0; height: 0; border-bottom: rem(25px) solid #fff;border-left: rem(25px) solid transparent;
    }
  }
  .disc-box{ margin-left:rem(220px);
    .p{ position:relative; margin-right:rem(20px); @include hl(37.5px);
      .left{position:absolute; z-index:2; top:0; left:0;}
      .right{position:absolute; z-index:2; top:0; right:0;}
      &.p-title{
        h2{ font-size:1.2rem;}
        .tag{display:inline-block;@include wh(44px,24px);background:url('../images/common/icon_youhui.png'); background-size:100% 100%;}
      }
      &.p-price{ color:$color;
        .score{}
        .price{ font-weight:bold;}
      }
      &.p-tag{
      }
      &.p-disc{color:$tag;
        .disc{}
        .address{}
      }
    }
  }
}


// detail
.overview{ padding:rem(15px) rem(50px); background-color:$bg;
  h1{ font-size:1.5rem; padding:rem(15px) 0;}
  .score{  padding:rem(15px) 0; border-bottom:1px solid $border;
    .color{ color:$color;font-family:$number; float:right;}
    .grey{ color:$tag; font-weight:bold; font-size:1.3rem; float: left;
      i{ color:$color;}
    }
  }
  .tag{color:$tag; padding:rem(15px) 0;
    span{ margin-right:rem(10px);}
  }
}

#viewContact{
  .view-icon{background:url('../images/common/icon_contact.png'); background-size:100% 100%;}
  .view-container{
    .name,.tel{ text-align:right; border-bottom:1px dotted $border; padding:rem(10px) 0; color:$title;
      span{ float:left; text-align:left;}
    }
    .tel{border-bottom:none;}
  }
}

#viewInfo{ position:relative;
  .view-icon{background:url('../images/common/icon_view.png'); background-size:100% 100%;}
  .view-container{ 
    .intro,.time{ line-height:1.5; color:$tag;
      span{ font-weight:bold; font-size:1.2rem;color:$title;}
    }
  }
  .play{ position:absolute; right:0; top:rem(20px);}
}


#online{ position:relative; 
  .view-container{border-bottom:1px solid $border; padding-bottom:rem(10px);}
  ul{
    li{@include hl(30px); color:$tag; padding-bottom:rem(2px);
      span{ margin-left:rem(20px); color:$color; font-weight:bold;}
    }
  }
  .pre-order{@include btn3(40px,#e12e8a); width:rem(94px); position:absolute; top:50%; margin-top:rem(-20px); right:0; z-index:2;}
  .online-order{@include btn3(20px,#4ec0f4);white-space:nowrap; padding:rem(4px) rem(10px); font-size:0.9rem;}
}



// enjoy-food-index
.body-food{background-color:#fff;
  &.ttc{ background-color:$bg;}
}
.food-header{background-color:#e54016; color:#fff; font-size:1.3rem; @include hl(80px); padding-left:rem(20px);
  &.njl{background-color:#677d08;}
  &.yl{background-color:#c22b89;}
  &.ttc{background-color:#e37d06;}
  &.ljc{background-color:#713f3f;}
}

.head-box{ background-color:#fff; padding:rem(1px) 0;}
.head-overview{ background-color:#fff; margin: rem(20px); border:1px solid $border; position:relative;
  .img{@include wh(200px,140px); float:left;
    img{width:100%; display:block; height:100%;}
  }
  .box{
    margin-left: rem(210px);
    .score{ @include hl(70px); border-bottom:1px solid $border;
      &.njl i{ color:#677d08;}
      &.yl i{ color:#c22b89;}
      &.ttc i{ color:#e37d06;}
      .right{ float:right; color:$tag; margin-right:rem(4px);
          i{}
      }
      .left{ color:$tag;
        i{}
      }
    }
    .detail{ white-space:nowrap; @include hl(70px);
      span{ margin-right:rem(5px); color:$tag;}
    }
    .p{ line-height:1.3; text-indent:1rem; color:$tag; padding:rem(10px) rem(10px) 0;}
  }
}


// feature
.feature-box{ padding:rem(20px) 0; background-color:$bg;
  .feature{
    background-color:#fff;
    .li{
      a.box{ color:$title;border-bottom:1px solid $border;
        display: block; margin:0 rem(30px); background:url('../images/common/icon_r.png') no-repeat right center; background-size:rem(18px) rem(30px);
        @include hl(70px); vertical-align:middle;
        &:last-child{ border-bottom:none;}
        &.noimg{ background:none;}
        span{@include hl(70px); display:inline-block;}
        i{ display:inline-block; vertical-align:middle;
          &.position{@include icon('../images/enjoy/food_position.png',34px,34px);}
          &.time{@include icon('../images/enjoy/food_time.png',34px,34px);}
          &.food{@include icon('../images/enjoy/food_view.png',34px,34px);}
          &.wifi{@include icon('../images/common/wifi.png',20px); margin-left:rem(10px);}
          &.pm{@include icon('../images/common/icon-pm.png',20px); margin-left:rem(10px);}
          &.tel{@include icon('../images/enjoy/icon_tel.png',34px); margin-left:rem(10px);}
        }
      }
    }
    .img{ padding:rem(20px) 0; width:rem(640px); margin:0 auto;
      li{ float:left; @include wh(170px,120px); position:relative; margin-left:rem(32px);
        img{width:100%; display:block;}
        p{ position:absolute; bottom:0; left:0; width:100%; z-index:2; text-align:center; @include hl(40px); background-color:rgba(0,0,0,.5); color:#fff;}
      }
    }
  }
}
.food-desc{
  padding:rem(30px); line-height:1.6;
  p{ text-indent:1rem; color:$title; padding-bottom:rem(10px);
    &.last-child{ padding-bottom:0;}
    b{ font-weight:bold;}
  }
}
.food-prefer{ padding:rem(30px) rem(20px); background-color:$bg;
  h2{ line-height:2; padding-bottom:rem(6px); font-size:1.2rem;}
  .food{
    border-radius:rem(10px); background-clip:padding-box; overflow:hidden; background:#fff;
    .box{ border-bottom:1px solid $border; margin:0 rem(20px);
      &:last-child{ border-bottom:none;}
      a{ color:$default;
        display: block;margin: rem(20px) 0; min-height:rem(50px); position:relative;
        .img{@include wh(160px,120px); border-radius:rem(8px); background-clip:padding-box; overflow:hidden; float:left;
          img{width:100%; display:block; height:100%;}
        }
        .desc{ margin-left:rem(180px);
          p{ font-size:1.2rem;}
        }
        .package{@include icon('../images/common/icon_promotion.png',44px,25px); position:absolute; right:0; top:0; z-index:2;}
      }
    }
  }
}

// food-detail
.body-food-detail{ background-color:$bg;
  .food-msss{ font-size:1.2rem; color:#de3c00; margin:rem(30px) rem(30px) rem(10px);
    &.njl{
      color: #768800;
      i{@include icon('../images/enjoy/njl_detail.png',32px,22px); margin-left:rem(4px);}
    }
    &.yl{
      color: #c22b89;
      i{@include icon('../images/enjoy/enjoy_yule.png',27px,27px); margin-left:rem(4px);}
    }
    i{@include icon('../images/enjoy/food_detail.png',24px,22px); margin-left:rem(4px);}
  }
  .food-detail-box{
    background-color:#fff; margin:0 rem(30px) rem(30px);
    ul{ padding:rem(20px) rem(20px);
      li{border-bottom:1px solid $border; padding:rem(16px) 0; white-space:nowrap; overflow:hidden;
        h2{@include hl(50px); font-size:1.2rem;}
        p{@include hl(25px); color:$tag;}
        &:last-child{border-bottom:none;}
      }
    }
  }
}

// food-package
.body-package{ background-color:$bg;
  .focus{
    img{ width:100%;}
  }
  .desc{ background-color:#fff; padding:rem(40px) rem(40px);
    h1{ font-size:1.3rem; padding-bottom:rem(20px);}
    p{ position:relative; @include hl(40px);
      .pre-order{
        position:absolute; right:0; background-color:$orange; padding:0 rem(26px); color:#fff; border-radius:rem(10px); background-clip:padding-box; overflow:hidden;
      }
      .promotion{
        i{ color:$red; font-size:1.2rem; margin-right:rem(30px); margin-left:rem(6px);}
      }
      .market{
        i{ text-decoration:line-through; font-size:1.2rem; margin-left:rem(6px); color:$tag;}
      }
    }
  }
  .item{ background-color:#fff; padding:rem(40px) rem(40px) rem(20px); margin-top:rem(20px);
    ul{
      li{ border-bottom:1px dotted $border; padding-top:rem(20px); line-height:2.5; color:$title; font-size:1.1rem;
        span{ float:right;}
        &:last-child{ border-bottom:none;}
      }
    }
  }
}

// food-album
.body-album{
  #albumFocusCtrol{ @include hl(80px); background-color:$orange; color:#fff; text-align:center; font-size:1.4rem; font-family:$number; font-weight:bold;
    &.uc{background-color:#828e00;}
  }
  #focusBox{
    background-color:#000;
  }
}


// enjoy-trip
.body-enjoy-trip{
  .banner{
    img{width:100%; display:block;}
  }
  .trip-box{ position:relative; height:rem(180px);
    &.normal{
      .title{ float:left;
        &:after{
          border-top:rem(10px) solid transparent; border-bottom:rem(10px) solid transparent; border-left:rem(10px) solid #fff; width:0; height:0;
          position:absolute; top:50%; content:""; margin-top:rem(-10px); left:100%;
        }
      }
      .img{margin-left:rem(170px);
        img{width:100%; display:block;}
      }
      .tips-follow{right:rem(10px);}
    }
    &.invert{
      .title{ float:right;
        &:before{
          border-top:rem(10px) solid transparent; border-bottom:rem(10px) solid transparent; border-right:rem(10px) solid #fff; width:0; height:0;
          position:absolute; top:50%; content:""; margin-top:rem(-10px); right:100%;
        }
      }
      .img{margin-right:rem(170px);
        img{width:100%; display:block;}
      }
      .tips-follow{left:rem(10px);}
    }

    &.bike{ background-color:#586fb6!important;
      .title:after{ border-left:rem(10px) solid #586fb6!important;}
    }
    &.hunsha{ background-color:#e34393!important;
      .title:before{ border-right:rem(10px) solid #e34393!important;}
    }
    &.montain{ background-color:#63b42c!important;
      .title:after{ border-left:rem(10px) solid #63b42c!important;}
    }
    &.rafting{ background-color:#3fb1eb!important;
      .title:after{ border-left:rem(10px) solid #3fb1eb!important;}
    }
    &.gny{ background-color:#fbb200!important;
      .title:after{ border-left:rem(10px) solid #fbb200!important;}
    }
    .title{
      @include wh(170px,180px); position:relative; text-align:center; color:#fff; font-size:1.2rem; line-height:1.2; vertical-align:middle;
      h2{display:inline-block;position:absolute; top:50%; margin-left:0; margin-right:0; left:0; right:0; margin-top:-1.2rem;}
    }
    .tips-follow{ color:#fff; position:absolute; bottom:rem(10px);
      .follow{ margin-right:rem(30px);
        i{@include icon("../images/enjoy/zan.png",25px); margin-right:rem(6px);}
      }
      .unfollow{
        i{@include icon("../images/enjoy/zan.png",25px); @include rotate(-180deg); margin-right:rem(6px);}
      }
    }
  }
}



// tutechan
.ttc-banner{
  img{width:100%; display:block;}
}
.ttc-overview{ background-color:#fff; padding:rem(30px) rem(40px);
  h1{font-size:1.3rem;}
  p{@include hl(70px); background:url('../images/common/icon_r.png') no-repeat right center; background-size:rem(18px) rem(30px); white-space:nowrap;
    a{ color:$default;}
    .promotion{ color:$red; font-size:1.2rem; width:32%; display:inline-block;}
    .market{text-decoration:line-through; font-size:1.2rem; color:$tag; width:32%; display:inline-block;}
    .score{ width:32%; display:inline-block;
      b{ font-weight:bold; margin-right:2px;}
      i{ color:$red;}
    }
    .order{ display:inline-block; vertical-align:middle; height:rem(70px);
      .pre{ display:block; @include whl(120px,40px); margin-top:rem(12px);text-align:center; color:#fff; background-color:$orange; border-radius:rem(6px); background-clip:padding-box; overflow:hidden;}
    }
  }
}
.cplb{@include hl(70px); padding:0 rem(30px);}
.cplb-box{ background-color:#fff; padding:rem(0px) rem(30px);
  .cp-list{
    border-bottom:1px solid $border;
    background:url('../images/common/icon_r.png') no-repeat right center; background-size:rem(18px) rem(30px); padding:rem(30px) 0;
    &:last-child{ border-bottom:none;}
    a{ color:$default;}
    .img{
      @include wh(140px,100px); float:left;
      img{width:100%; height:100%; display:block;}
    }
    .desc{ margin-left:rem(160px);
      h3{ font-size:1.2rem; @include hl(40px);}
      p{ @include hl(30px); color:$tag;
        &.red{ color:$red;}
      }
    }
  }
}
.tcd-item{ background-color:$bg; padding:rem(20px) rem(30px);
  ul{
    li{ @include hl(70px); color:$title; border-bottom:1px dotted $remind;
      &:last-child{border-bottom:none;}
      span{ float:right; }
    }
  }
}



// enjoy-hotel-detail
.body-hotel{
  .hotel-box{ border-bottom:1px solid $border; padding:rem(30px) rem(50px);
    &.last{ border-bottom:none;}
    h2{ @include hl(44px);
      i{ vertical-align:top;
        &.content{ @include hl(44px); display:inline-block; margin-left:rem(10px); font-size:1.2rem; color:$title;}
        &.hotel-address{@include icon("../images/enjoy/hotel_address.png",44px);}
        &.hotel-tel{@include icon("../images/enjoy/hotel_tel.png",44px);}
        &.hotel-ss{@include icon("../images/enjoy/hotel_ss.png",44px);}
        &.hotel-intro{@include icon("../images/enjoy/hotel_intro.png",44px);}
      }
    }
    p{ color:$tag; padding-top:rem(20px); font-size:1.1rem; word-break:break-all;
      &.intro{ text-indent:1rem; line-height:1.6;}
    }
    .hotel-item{ padding-top:rem(20px); @include hl(30px);
      span{ width:32.3%; display:inline-block; color:$tag; padding-left:1%;
        i{ vertical-align:top;
          &.content{ @include hl(29px); display:inline-block; margin-left:rem(10px); font-size:1.2rem; color:$title;}
          &.wifi{@include icon("../images/enjoy/hotel_wifi.png",31px,29px);}
          &.cy{@include icon("../images/enjoy/hotel_park.png",31px,29px);}
          &.tcc{@include icon("../images/enjoy/hotel_food.png",31px,29px);}
        }
      }
    }
  }
}


// enjoy_hotel_comment
.hotel-top{
  background-color:#2d455b; color:#fff;
  h1{ text-align:center; border-bottom:1px solid #283848; font-size:1.2rem; padding:rem(20px) 0;}
  .comment{ padding:rem(10px) 0;
    li{ float:left; width:50%; padding:rem(10px) 0; font-weight:normal; font-size:0; vertical-align:top;
      span{ display:inline-block; font-size:1rem; vertical-align:top;
        &.text{ width:rem(80px); height:rem(24px);
          &.score{ text-align:center;}
        }
        &.process{ height:rem(16px); margin-top:rem(4px); width:rem(140px); border-radius:rem(8px); background-clip:padding-box; overflow:hidden; border:1px solid #333;
          &.ws{ border-color:#009fee;
            i{ background-color:#009fee;}
          }
          &.fw{ border-color:#4db8b3;
            i{ background-color:#4db8b3;}
          }
          &.ss{ border-color:#e64515;
            i{ background-color:#e64515;}
          }
          &.xjb{ border-color:#586cb4;
            i{ background-color:#586cb4;}
          }
          i{ display:block; height:100%; width:10px;}
        }
      }
    }
  }
}

.hotel-list{ padding:rem(20px) 0 0;
  article{ border-bottom:1px solid $border; padding:rem(30px); position:relative; color:$tag;
    .date{ top:rem(30px); right:rem(30px); position:absolute; z-index:2;}
    h2{
      .pj{margin-right:rem(10px); color:blue; font-size:1.2rem;}
      .nick{margin-left:rem(10px);}
    }
    p{ color:#425b75; padding:rem(20px) 0 0;}
  }
}







@media all and (min-width:640px) {
  html { font-size: $base_fontsize_640; }
}
@media all and (max-width:639px) and (min-width:480px) {
  html { font-size: $base_fontsize_480; }
}
@media all and (max-width:479px) {
  html { font-size: $base_fontsize_320; }
}