@import "global/main";
@import "global/reset";
@import "global/common";

// overview
.overview{ padding:rem(25px) rem(60px) rem(50px); position:relative;
  .title-box{margin:rem(20px) 0; position:relative;
    h2{ font-size:1.3rem;}
    .jump{
      @include wh(30px); background:url('../images/common/arrow_right.png'); display:inline-block; background-size:100% 100%;
      position:absolute; top:0; right:0;
      a{display:block;}
    }
  }
  .content-box{
    p{line-height:1.5;}
    img{@include wh(185px,130px); float:right; margin-left:rem(10px);}
  }
}

#intro{
  background:#fab000; color:#fff;
}

#festival{
  background:#fff; color:$tag;
  .jump{background:url('../images/common/arrow_white.png'); background-size:100% 100%;}
}

#description{
  background:#79b022; color:#fff;
}

.body-guide{ background-color:#2a292a;
  .title{ background:#01a38c; position:relative; @include hl(130px);
    .intro-left{ float:left; position:relative; padding:rem(20px) rem(55px);}
    .disc{ text-align:center; @include hl(130px); font-size:1.4rem; position:absolute; width:100%; color:#fff;}
  }
  .help-view{ margin-top:rem(10px);
    .img{@include wh(200px,360px); margin-right:rem(10px); float:left;
      img{ width:100%;}
    }
    .box{ margin-left:rem(210px);
      .intro-right{ float:right; position:relative; padding:rem(12px) rem(55px);}
      .intro-box:last-child{margin-bottom:0;}
    }
    .view{ background-color:#73b929;
      .intro-right{ width:rem(165px);}
    }
    .trans{ background-color:#00aaf0;
      .intro-right{ width:rem(165px);}
    }
    .home{ background-color:#e44c97;
      .intro-right{ width:rem(165px);}
    }
  }
  .help-enjoy{ margin-top:rem(10px);
    .img{@include wh(275px,360px); margin-left:rem(10px); float:right;
      img{ width:100%;}
    }
    .box{ margin-right:rem(275px);
      .intro-left{ float:left; position:relative; padding:rem(12px) rem(55px);}
      .intro-box:last-child{margin-bottom:0;}
    }
    .food{ background-color:#ee730c;
      .intro-right{ width:rem(160px);}
    }
    .shopping{ background-color:#e32d58;
      .intro-right{ width:rem(160px);}
    }
    .enjoy{ background-color:#7f5ba5;
      .intro-right{ width:rem(160px);}
    }
  }
  .help-tips{ margin-top:rem(10px);
    .img{@include wh(195px,240px); margin-right:rem(10px); float:left;
      img{ width:100%;}
    }
    .box{ margin-left:rem(210px);
      .intro-right{ float:right; position:relative; padding:rem(12px) rem(55px);}
      .intro-box:last-child{margin-bottom:0;}
    }
    .trip{ background-color:#25ac92;
      .intro-right{ width:rem(165px);}
    }
    .tips{ background-color:#4ec0f4;
      .intro-right{ width:rem(165px);}
    }
  }
}

.body-trip{ padding-bottom:rem(20px);
  .title{ @include hl(80px); text-align:center; width:100%; color:#fff;
    &.go{ background-color:#8bc122;}
    &.traffic{background-color:#009deb; margin-top:rem(30px);}
  }
  .trip-box{ margin:rem(30px) rem(30px) 0;
    .span-box{ margin-bottom:.8%;
      .grey-box{background-color:#d6d7d8; width:49.5%; height:rem(120px); margin-right:1%; float:left; text-align:center; overflow:hidden;
        display: -webkit-flex; display: flex;
        -webkit-flex-direction: row; flex-direction: row;
        -webkit-align-items: center; align-items: center;
        -webkit-justify-content: center; justify-content: center;
        img{@include wh(180px,76px);}
        i{ position:absolute; z-index:2; @include wh(30px); border-radius:rem(15px); overflow:hidden; background-clip: padding-box; display:block; background-color:#fff;}
        &:last-child{margin-right:0; float:right;}
        &.long{
          img{@include wh(220px,76px);}
        }
        &.bg{ background-color:#e4e5e6;}
        &.rt{ position:relative;
          i{right:rem(-15px); top:rem(-15px);}
        }
        &.lt{ position:relative;
          i{left:rem(-15px); top:rem(-15px);}
        }
        &.rb{ position:relative;
          i{right:rem(-15px); bottom:rem(-15px);}
        }
        &.lb{ position:relative;
          i{left:rem(-15px); bottom:rem(-15px);}
        }
      }
      .bg-box{background-color:#e4e5e6; width:100%; height:rem(120px); text-align:center; overflow:hidden;
        display: -webkit-flex; display: flex;
        -webkit-flex-direction: row; flex-direction: row;
        -webkit-align-items: center; align-items: center;
        -webkit-justify-content: center; justify-content: center;
        img{@include wh(180px,76px);}
      }
    }
  }
}




@media all and (min-width:640px) {
  html { font-size: $base_fontsize_640; }
}
@media all and (max-width:639px) and (min-width:480px) {
  html { font-size: $base_fontsize_480; }
}
@media all and (max-width:479px) {
  html { font-size: $base_fontsize_320; }
}