@import "global/main";
@import "global/reset";
@import "global/common";

.body-uc-index{
  #header{ background-color:$blue;
    a{ display:block; padding:rem(40px) 0; margin:0 rem(40px); position: relative; height:rem(90px); color:#fff;
      .avater{
        .img{
          @include wh(90px); border-radius:rem(45px); background-clip:padding-box; overflow:hidden; float:left;
          img{width:100%;}
        }
        .desc{
          margin-left: rem(110px);
          .tt{ font-size:1.3rem;}
          p{ font-size:1rem; @include hl(45px);}
        }
      }
      .right{@include icon("../images/uc/arrow_style2.png",20px,30px); position:absolute; right:0; top:50%; margin-top:rem(-15px);}
    }
  }
  .item-box{padding:rem(30px) rem(40px);
    .box{ margin-bottom:rem(50px); color:$tag;
      li{ border-bottom:1px solid $border; padding:rem(20px) 0; vertical-align:middle;
        a{color:$tag;}
        i{ display:inline-block; vertical-align:middle; float:left; vertical-align:middle;
          &.tel{@include icon("../images/uc/uc_tel.png",34px);}
          &.address{@include icon("../images/uc/uc_address.png",34px);}
          &.code{@include icon("../images/uc/uc_code.png",34px);}
          &.repass{@include icon("../images/uc/uc_repass.png",34px);}
          &.jifen{@include icon("../images/uc/uc_jifen.png",34px);}
          &.youhui{@include icon("../images/uc/uc_youhui.png",34px);}
          &.prize{@include icon("../images/uc/uc_prize.png",34px);}
          &.order{@include icon("../images/uc/uc_order.png",34px);}
          &.collect{@include icon("../images/uc/uc_collect.png",34px);}
          &.active{@include icon("../images/uc/uc_active.png",34px);}
          &.tousu{@include icon("../images/uc/uc_tousu.png",34px);}
          &.ask{@include icon("../images/uc/uc_ask.png",34px);}
        }
        &:last-child{ border-bottom:none;}
        .item{ margin-left:rem(60px);
          .left{
            float: left; width:50%; text-align:left; white-space:nowrap; overflow:hidden;@include hl(34px);
          }
          .right{
            float: right; width:50%; text-align:center; white-space:nowrap; overflow:hidden;@include hl(34px);
          }
        }
      }
    }
  }
  .sign-out{ background-color:$blue; @include hl(70px); text-align:center;
    a{color:#fff;}
  }
}

// login
.body-uc{ background-color:$bg;
  .uc-header{@include hl(60px); background-color:$blue; color:#fff; text-align:center; font-size:1.2rem;}
  .uc-box{min-height:rem(100px); background-color:#fff; padding:0 rem(30px);
    dl{ vertical-align:middle;border-bottom:1px solid $border; font-size:1.2rem;
      .tt{
        float:left; width:rem(100px); text-align:right; vertical-align:middle; @include hl(90px);
      }
      .cont{
        vertical-align:middle; margin-left:rem(120px); @include hl(90px);
        .input{
          color: $title; margin:0; padding:0; border:0; font-size:1.2rem; width:100%;
        }
      }
      &:last-child{border-bottom:none;}
    }
  }
  .input-box{border-radius:rem(6px); background-clip:padding-box; overflow:hidden; margin:rem(30px) 5% 0; border:1px solid #d2d2d2;
    input{ width:90%; margin:0; padding:0; border:0; height:rem(70px); padding:0 5%;}
  }
}


// reg
.process-bar{
  background-color:#d2d2d2;
  ul{
    li{ @include wh(120px,100px); padding-top:rem(30px); position:relative; float:left; width:33.3%;
      i{@include whl(40px,40px); text-align:center; background-color:#6b6d70; color:#fff; display:block; border-radius:rem(20px); background-clip:padding-box; overflow:hidden; margin:0 auto;}
      p{ text-align:center; color:$tag;@include hl(50px);}
      &.action{
        i{background-color:$blue;}
        p{color:$title;}
        &:after{
          content: "";
          display:block; 
          background-color:transparent;
          border-width:0 rem(16px) rem(16px);
          border-color:transparent transparent $bg;
          border-style:solid;
          width:  0;
          height: 0;
          bottom: 0;
          position:absolute;
          left:50%;
          margin-left: rem(-16px);
        }
      }
    }
  }
}
#processBox{
  .remind{ margin:rem(50px) 0 0; text-align:center; color:$tag;}
}


@media all and (min-width:640px) {
  html { font-size: $base_fontsize_640; }
}
@media all and (max-width:639px) and (min-width:480px) {
  html { font-size: $base_fontsize_480; }
}
@media all and (max-width:479px) {
  html { font-size: $base_fontsize_320; }
}