@import "global/main";

[data-sort]{
  
}
[data-search]{
  
}
[data-hotel]{

}

.auto{ width:100%; height:auto!important; overflow:auto!important;}
.trans{@include trans(.4s,cubic-bezier(.17,.67,.56,.91),all,0s);}
body{ position:relative;}
#popbg{background-color:rgba(255,255,255,.5); position: absolute; z-index:99998; height:100%; left:0; top:0; width:100%; display:none;}
#popbox{
  background-color:#2d455b; padding:rem(20px) 0; display:block;@include transform(0,0);
  position: absolute; z-index:99999; min-height:100px; left:0; bottom:0; width:100%;
  &.hide-y{@include transform(0,100%);}
  .sort{
    li{
      a{ color:#fff;}
      border-bottom: 1px solid #283848; padding:rem(30px) rem(30px) rem(20px); color:#fff; 
      i{
        background-color:#818386; @include wh(20px); float:right;
        border:rem(4px) solid #313032; border-radius:rem(20px); overflow:hidden; background-clip:padding-box; display:inline-block;
      }
      &.action,&:hover{
        i{ background-color:#009fee;}
      }
    }
  }
}


.sort-hotel{
  padding:rem(30px);
  .sort-search{
    
  }
}



@media all and (min-width:640px) {
  html { font-size: $base_fontsize_640; }
}
@media all and (max-width:639px) and (min-width:480px) {
  html { font-size: $base_fontsize_480; }
}
@media all and (max-width:479px) {
  html { font-size: $base_fontsize_320; }
}