@charset "utf-8";

//color
$border:#eaeaeb;
$bg:#e2e2e2;
$defaultBg:#e8e8e8;

$default:#444;
$title:#777;
$tag:#999;
$color:#65a10b;
$red:#f30;
$orange:#f60;
$blue:#009fee;
$remind:#ccc;

$font: Tahoma,Arial,Roboto,'Droid Sans','Helvetica Neue','sumiro','Droid Sans Fallback','Heiti SC','Hiragino Sans GB', 'Microsoft Yahei',Simsun,sans-self;
$number:"georgia";

$base_fontsize_640:24px;

// 480-640
$mul_480: 480/640;
$base_fontsize_480:$base_fontsize_640*$mul_480;

// <480
$mul_320: 320/640;
$base_fontsize_320:$base_fontsize_640*$mul_320;


@function rem($n){
  @return ($n/$base_fontsize_640)+rem;
}

@mixin wh($w,$h:$w){
  width:rem($w); height:rem($h);
}
@mixin hl($value){
  height:rem($value); line-height:rem($value);
}
@mixin whl($w,$h,$l:$h){
  width:rem($w); height:rem($h); line-height:rem($l);
}
@mixin bg($url,$w:100%,$h:$w){
  background:inline-image($url) no-repeat; background-size:$w $h;
}
@mixin btn($h,$radius:$h/2){
  color:#fff; 
  background-color:$tag; 
  height:rem($h); 
  border-radius:rem($radius); 
  overflow:hidden;
  background-clip: padding-box;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: rem($h);
}
@mixin btn3($h,$c,$radius:$h/4){
  color:#fff; 
  background-color:$c; 
  height:rem($h); 
  border-radius:rem($radius); 
  overflow:hidden;
  background-clip: padding-box;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: rem($h);
}
@mixin btn2($w,$size:1.2rem,$h:60px,$radius:$h/2){
  font-size:$size;
  width:rem($w);
  color:$color; 
  background-color:#fff; 
  @include hl($h); 
  border-radius:rem($radius); 
  border:1px solid $color;
  overflow:hidden;
  background-clip: padding-box;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}


@mixin grey-btn($w,$h,$size:1.2rem){
  font-size:$size;
  width:rem($w);
  color:$tag!important; 
  background-color:#e8e8e8; 
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
  box-shadow: 1px 1px 1px rgba(255,255,255,1);
  @include hl($h); 
  border-radius:rem($h/4); 
  border:1px solid $border;
  overflow:hidden;
  background-clip: padding-box;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
}


@mixin trans($speed:0.3s,$way:linear,$prototype:all){
  -webkit-transition: $speed $way $prototype;
  -moz-transition: $speed $way $prototype;
  transition: $speed $way $prototype;
}

@mixin transform($x,$y){
  -moz-transform: translate($x,$y);
  -webkit-transform: translate($x,$y);
  transform: translate($x,$y);
}

@mixin scale($x,$y:$x){
  -moz-transform: scale($x,$y);
  -webkit-transform: scale($x,$y);
  transform: scale($x,$y);
}

@mixin rotate($x){
  -moz-transform: rotate($x);
  -webkit-transform: rotate($x);
  transform: rotate($x);
}

@mixin animate($name,$speed,$way:linear,$count:infinite){
  -webkit-animation: $name $speed $count $way;
  -moz-animation: $name $speed $count $way;
  animation: $name $speed $count $way;
}

@mixin valign(){
  display: -webkit-flex;display: -ms-flex; display: flex;
  -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row;
  -webkit-align-items: center; -ms-align-items: center; align-items: center;
  -webkit-justify-content: center; -ms-justify-content: center; justify-content: center;
}

@mixin icon($bg,$w,$h:$w){
  @include wh($w,$h);
  display:inline-block;
  background:url($bg);
  background-size:100% 100%;
}






